<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/html1-transitional.dtd">
<html>
    <head>
        {% load staticfiles %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        {% if socketed %}
        <script src="{% static 'partypic/js/socket.js' %}"></script>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
        {% block includer %}{% endblock %}
        <title>PartyPic | {% block title %} {% endblock %}</title>
    </head>
    <body>
        <h1><a href="/home"><img src="{% static 'partypic/images/PartyPic_white.png' %}"/></a> {% block head %}{% endblock %}</h1>
        <div class="page_content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
