<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Circli!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h2>Hello {{name}}</h2>
<p>
Please use this code, <b>{{code}}</b>,  to validate your account.</p>

Thanks for joining Circli and have fun!<br>
-- Circli Team
<p>
If you did not register an account on Circli, ignore this message.<br>
Sorry for the inconvenience caused.
</p>
</body>
</html>