{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Group{% endblock %}
{% block head %}<a href="/home">&lt </a>
<form style="display:inline;" action="upload/" id="upload_form" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <label for="photo_uploader">
    <div id="upload_photo">
        <img src="{% static 'partypic/images/camera-upload.png' %}" height=30px/>   
        Upload new
    </div>
    </label>
    <input type="file" id="photo_uploader" name="photo" accept="image/*">
</form>
<span contenteditable id="group_title">
    {% if group.group_title %}
        {{group.group_title}}
    {% else %}
        {{group.group_hash}}
    {% endif %}
</span>    
<div id="members_list">
    {% for member in members %}
    {{ member.user.username }},&nbsp;
    {% endfor %}
    You
</div>
{% endblock %}

<!--  Ending header section here! -->

<!-- Starting list of photos here! -->
{% block content %}
{% for content in photo_data %}
<div class="photo">
    <div class="photo_content">

        <!--  Photo header -->
        <div class="photo_header">
            <img class="circular" src="{% content.photo.owner.avatar.image.url %}" width="32px">
            {{ content.photo.owner.user.username }}
        </div>

        <!-- Photo itself. -->
        <img src="{% media content.photo.image.url %}" width="600px">

        <!-- Photo caption panel -->
        <div class="photo_caption"></div>

        <!-- Reactions panel, including delete menu. -->
        <div class="reactions">
            <a href="#">Like</a>
            {% if content.reactions %}
                {{ content.reactions|length }}
            {% endif %}

            {% if content.photo.owner.user == profile.user %}
            <button class="photo-delete" onclick="deleteMenu(this)">
                &hellip;
                <div class="dropdown-content">
                    <span onclick="deletePhoto(this)">&#10005 Delete
                        <input type="hidden" value="{{ content.photo.pk }}">
                    </span>
                    <span>&#9834 Mute discussion</span>
                </div>
            </button>
            {% endif %}
        </div>

        <!-- Comments panel. -->
        <div class="photo_messages">
            <table>
            {% for comment in content.comments %}
                <tr>
                    <td class="name-column">
                        <span class="comment-owner">
                            <img class="circular" src="{% comment.owner.avatar.image.url %}" width="32px">
                            {{ comment.owner.user.username }}
                        </span>
                    </td>
                    <td class="message-column">{{comment.content}}</td>
                    <td class="delete-column">
                        {% if comment.owner.user == profile.user %}
                        <form>
                            <input type="hidden" name="pk" value="{{ comment.pk }}">
                            <span class="delete-comment">&#10005</span>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>            
        </div>

        <!-- New comment submission panel -->
        <div class="message_entry">
                <input type="hidden" name="photo" value="{{ content.photo.pk }}">
                <input type="hidden" name="group" value="{{ group.group_hash }}">
                <input type="text" class="comment-entry" name="entry" placeholder="Comment on this">
        </div>
    </div>
</div>
{% endfor %}

<!-- Scripting section -->
<script src="{% static 'partypic/js/group.js' %}"></script>    
{% endblock %}
