{% extends "base.html" %}
{% block title %}Board{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<p>Welcome {{profile.user.username}}!</p>
<a href="/logout?next=/">Logout</a>
    <div id="addGroup">
        <form action="/add-group/" method="post">{% csrf_token %}
            <input type="text" name="addGroup">
            <input type="submit" value="Add Group">
        </form>
    </div>
    or <a href="/create-new-group">create</a> a new group.
    <div class="groups">
        <ul>
            {% for group in groups %}
            <li><a href="/group/{{ group.group_hash }}">{{ group }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
