<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Circli!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h2>Hello {{name}}</h2>
<p>
We have just received a request to reset your Circli account password.
<br>
If you did not make this request, please ignore this message. 

Use the code, <b>{{code}}</b>,  to reset your password.</p>

We're happy to have you back!<br>
-- Circli Team
</body>
</html>