{% load staticfiles %}
{% for comment in messages %}
    <tr>
        <td class="name-column">
            <span class="comment-owner">
                <img class="circular" src="{% static comment.owner.avatar.image.name %}" width="32px">
                {{ comment.owner.user.username }}
            </span>
        </td>
        <td class="message-column">{{comment.content}}</td>
        <td class="delete-column">
            {% if comment.owner.user == profile.user %}
            <form>
                <input type="hidden" name="pk" value="{{ comment.pk }}">
                <span class="delete-comment">&#10005</span>
            </form>
            {% endif %}
        </td>
    </tr>
{% endfor %}