{% extends "base.html" %}
{% block includer %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/jCrop/css/jquery.Jcrop.css'%}">
    <script src="{% static 'login/jCrop/js/jquery.Jcrop.js' %}"></script>
{% endblock %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
    <div>    
        <div id="form-window">
            <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                <table border="0">
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Register" />
            </form>
        </div>
        <div id="preview-window">
            <img id="preview" /> 
        </div>
    </div>
    <br>
    <a href="/">Login</a>
    
    <!-- Scripting section -->
    {% load staticfiles %}
    <script src="{% static 'login/js/register.js' %}"></script>    
{% endblock %}
