body {
    background-color: black;
    color: white;
}
h2 div {
    display: inline-block;
}
.page_content {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}
#addGroup {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
#addGroup form input[type=text] {
    border: 1px solid blue;
    background: transparent;
    color: white;
    height: 20px;
}
a {
    text-decoration: none;
    color: blue;
}
#members_list {
    color: gray;
    font-size: 50%;
    font-family: "CenturyGothic";
    font-weight: normal;
}
#upload_photo {
    float: right;
    margin-right: 30px;
    font-family: "CenturyGothic";
    font-size: 50%;
    cursor: pointer;
}
#upload_photo img {
    vertical-align: middle;
}
#photo_uploader {
    visibility: hidden;
    position: absolute;
}
.photo {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
    background-color: #9B9B9B;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}
.photo_content {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    color: #222222;
}
.photo_header {
    width: 300px;
    float: left;
    font-weight: bold;
    font-family: "CenturyGothic";
    padding-bottom: 10px;
}
.photo_messages div {
    padding-bottom: 10px;
}
.photo_messages table {
    width: 600px;
}
.comment-owner {
    font-weight: bold;
    font-family: "CenturyGothic";
    white-space: nowrap;
}
.photo-delete {
    position: relative;
    float: right;
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.circular {
    border-radius: 50%;
    vertical-align: middle;
}
.reactions {
    padding-bottom: 10px;
}
.dropdown-content {
    position: absolute;
    top: 30px;
    right: 0px;
    display: none;
    position: absolute;
    overflow: auto;
    width: 200px;
    background-color: rgba(102,102,102,0.8);
    background-position : calc(100% - 10px) 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    border: 2px solid black;
}
.dropdown-content span {
    color: black;
    font-size: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    display: block;
    padding-left: 10px;
    font-weight: 100;
}
.dropdown-content span:hover {
    background-color: rgba(195,195,195,0.5);
}
.delete-column {
    float: right;
    margin-top:  6px;
    cursor: pointer;
}
.name-column {
    width: 1%;
    white-space: nowrap;
}
.message-column {
    vertical-align: middle;
}
.comment-entry {
    height: 30px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}